/* ================================= 
  Base Element Styles
==================================== */


/* Color Pallette

50B2C0 - Pacific Blue 
FEEFDD - Antique White 
FAAA8D - Light Salmon
FF4000 - Red Orange Color Wheel 
201E1F - Eerie Black */


* {
  box-sizing: border-box;
}

h1 {
  width: 80%;
  text-align: center; 
  /* padding-top: 1em; */
}

h2 {
  text-align: center;
  margin: 2em 0;
}

footer {
  background-color: peachpuff;
}
/* ================================= 
  Base Layout Styles
==================================== */

#main-header {
  background-color: peachpuff;
  padding: 1.75em 0; 
}

/* ---- Navigation ---- */

#nav, #skills-list {
  padding-inline-start: 0;
}

.nav-item, .skills-item, .footer-nav-item {
  list-style-type: none;
}

.nav-item {
  padding: 0.5em 6.5em;
  margin-bottom: 0.25em;
  background-color: white;
  text-align: center;
}

a {
  text-decoration: none;
}

/* ---- Intro ---- */

.profile-pic {
  width: 65%;
  padding: 1.5em 0 1em;
}

#intro p {
  width: 90%;
  text-align: center;
}

/* ---- Portfolio ---- */

.portfolio-pic {
  width: 90%;
  margin-bottom: 1em;
}

.profile-desc, #contact-desc, #skills-desc, #languages {
  width: 90%;
  margin: 0 0 1.25em;
  text-align: center;
}

/* ---- Contact ---- */

#contact {
  padding-bottom: 1em;
  border-bottom: 2px solid rgb(121, 121, 121);
  background-color: peachpuff;

}

#contact h2 {
  padding-top: 2.25em;
}

#email {
  margin: 0;
  padding-bottom: 2.5em;
}

/* ---- Skills ---- */

#languages {
  padding: 1em;
  color: white;
  border-radius: 6px;;
  background-color: #FF4000;
}

/* ---- Footer ---- */

#footer-nav {
  padding: 2em 1em;
  margin: 0;
}

/* ---- Layout Containers ---- */

#nav-bar, #intro, .portfolio-item, #contact-wrapper, #skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-item {
  margin-bottom: 1em;
}

#footer-nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.footer-desktop {
  display: none;
}

/* ================================= 
  Media Queries
==================================== */

/* #portfolio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
} */