/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h1 {
  width: 80%;
  text-align: center; 
  /* padding-top: 1em; */
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h2 {
  text-align: center;
  padding: 2em 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}

/* ================================= 
  Base Layout Styles
==================================== */

#main-header, #contact, footer {
  color: white;
  background-image: linear-gradient(135deg, #175fff, #315ada 50%); 
}

#main-header {
  padding: 1.75em 0;
}

/* ---- Navigation ---- */

#nav, #skills-list {
  padding-inline-start: 0;
}

.nav-item, .skills-item, .footer-nav-item {
  list-style-type: none;
}

.nav-item {
  padding: 0.75em 6em;
  margin-bottom: 0.25em;
  background-color: white;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

/* ---- Intro ---- */

.profile-pic {
  width: 65%;
  padding: 1.5em 0 1em;
}

#intro p {
  width: 90%;
  text-align: center;
}

/* ---- Portfolio ---- */

.portfolio-pic {
  width: 90%;
  margin-bottom: 1em;
}

.profile-desc, #contact-desc, #skills-desc, #languages {
  width: 90%;
  margin: 0 0 1.25em;
  text-align: center;
}

/* ---- Skills ---- */

#skills {
  background-color: #f7f8fa;
  padding-bottom: 1.5em;
}

#skills-desc {
  padding-bottom: 0.5em;
}

#languages {
  padding: 1em;
  color: white;
  border-radius: 6px;;
  background-color: #FF4000;
}

/* ---- Footer ---- */

#footer-nav {
  padding: 2em 1em;
  margin: 0;
}

/* ---- Contact ---- */

#contact {
  padding-bottom: 1em;
  border-bottom: 2px solid white;
}

#contact h2 {
  padding-top: 2.25em;
}

#email {
  margin: 0;
  padding-bottom: 2.5em;
}

span {
  font-weight: 400;
}

#backtotop {
  color: white;
}
/* ---- Layout Containers ---- */

#nav-bar, #intro, .portfolio-item, #contact-wrapper, #skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-item {
  margin-bottom: 1em;
}

#footer-nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.footer-desktop {
  display: none;
}

/* ================================= 
  Media Queries
==================================== */

/* #portfolio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
} */