/* ================================= 
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

h1 {
  width: 80%;
  text-align: center; 
  /* padding-top: 1em; */
}

h2 {
  text-align: center;
  margin: 2em 0;
}

footer {
  background-color: peachpuff;
}
/* ================================= 
  Base Layout Styles
==================================== */

#main-header {
  background-color: peachpuff;
  padding: 1.75em 0; 
}

/* ---- Navigation ---- */

#nav {
  padding-inline-start: 0;
}

.nav-item {
  padding: 0.5em 6.5em;
  margin-bottom: 0.25em;
  background-color: white;
  list-style-type: none;
  text-align: center;
}

a {
  text-decoration: none;
}

/* ---- Intro ---- */

.profile-pic {
  width: 65%;
  padding: 1.5em 0 1em;
}

#intro p {
  width: 90%;
  text-align: center;
}

/* ---- Portfolio ---- */

.portfolio-pic {
  width: 90%;
  margin-bottom: 1em;
}

.profile-desc, #contact-desc {
  width: 90%;
  margin: 0 0 1.25em;
  text-align: center;
}

/* ---- Contact ---- */

#contact {
  padding-bottom: 1em;
  border-bottom: 2px solid rgb(121, 121, 121);
  background-color: peachpuff;

}

#contact h2 {
  padding-top: 2.25em;
}

#email {
  margin: 0;
  padding-bottom: 2.5em;
}

/* ---- Footer ---- */

#footer-nav {
  padding: 2em;
  padding-inline-start: 0;
  margin: 0;
}

.footer-nav-item {
  list-style-type: none;
}

/* ---- Layout Containers ---- */

#nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

#contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-nav {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.footer-desktop {
  display: none;
}

/* ================================= 
  Media Queries
==================================== */

/* #portfolio-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
} */